<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>OTP Template</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    style="
      margin: 0;
      font-family: 'Poppins', sans-serif;
      background: #ffffff;
      font-size: 14px;
    "
  >
    <div
      style="
        max-width: 680px;
        margin: 0 auto;
        padding: 45px 30px 60px;
        background: #f4f7ff;
        background-image: url(https://archisketch-resources.s3.ap-northeast-2.amazonaws.com/vrstyler/1661497957196_595865/email-template-background-banner);
        background-repeat: no-repeat;
        background-size: 800px 452px;
        background-position: top center;
        color: #434343;
      "
    >
      <header>
        <table style="width: 100%;">
          <tbody>
            <tr>
              <td>
                <h1 style="color: white;">LOGO</h1>
              </td>
              <td style="text-align: right;">
                <span
                  style="font-size: 16px; line-height: 30px; color: #ffffff;"
                >{{date}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </header>

      <main>
        <div
          style="
            margin-top: 70px;
            padding: 92px 30px 115px;
            background: #ffffff;
            border-radius: 30px;
            text-align: center;
          "
        >
          <div style="max-width: 489px; margin: 0 auto;">
            <h1
              style="
                font-size: 24px;
                font-weight: 500;
                color: #1f1f1f;
              "
            >
              Your OTP
            </h1>
            <p
              style="
                margin-top: 17px;
                font-size: 16px;
                font-weight: 500;
              "
            >
              Hey
              {{name}},
            </p>
            <p
              style="
                margin-top: 17px;
                font-weight: 500;
                letter-spacing: 0.56px;
              "
            >
              {{description}}
            </p>
            <p>Do not share this code with others.</p>
            <p
              style="
                margin-top: 60px;
                font-size: 40px;
                font-weight: 600;
                letter-spacing: 25px;
                color: #ba3d4f;
              "
            >
              {{otp}}
            </p>
          </div>
        </div>

        <p
          style="
            max-width: 400px;
            margin: 90px auto 0;
            text-align: center;
            font-weight: 500;
            color: #8c8c8c;
          "
        >
          Need help? Visit our
          <a
            href=""
            target="_blank"
            style="color: #499fb6; text-decoration: none;"
          >Help Center</a>
        </p>
      </main>
    </div>
  </body>
</html>